<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <nav class="nav">
        <a href="/" class="active">Home</a>
        <a href="{{ url_for('admin.login') }}">Login</a>
        <a href="{{ url_for('admin.index') }}">Admin</a>
        <a href="{{ url_for('rate.index') }}">Rate a Culvert</a>
        <a href="{{ url_for('admin.upload') }}">Upload File</a>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif%}
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>